/*Global*/
@font-face {
    src: url("../font/Belweb.ttf");
}

.root {
    -fx-font-family: "Belwe Bd BT";
    -fx-background-size: stretch;
    -fx-background-position: center;
}


.label_big {
    -fx-font-size: 26;
    -fx-text-fill: aliceblue;
    -fx-effect: dropshadow(gaussian, #363636, 2, 0.8, 0, 0);
}

.label_med {
    -fx-font-size: 22;
    -fx-text-fill: gainsboro;
    -fx-effect: dropshadow(gaussian, #363636, 2, 0.8, 0, 0);
}

.label_small {
    -fx-font-size: 16;
    -fx-text-fill: gainsboro;
    -fx-effect: dropshadow(gaussian, #363636, 2, 0.8, 0, 0);
}

.simple_border {
    -fx-border-color: black;
    -fx-border-width: 2;
    -fx-border-radius: 2;
}

.label_xsmall {
    -fx-font-size: 10;
    -fx-text-fill: gainsboro;
    -fx-effect: dropshadow(gaussian, #363636, 2, 0.7, 0, 0);
}


.button-native1 {
    -fx-background-color: transparent;
    -fx-background-image: url("../image/btn1.png");
    -fx-background-size: stretch;
    -fx-background-position: center;
}

.button-native1:hover {
    -fx-effect: innershadow(gaussian, orangered, 8, 0.5, 0, 0);
}

.button-native1:pressed {
    -fx-opacity: 0.5;
}

.button-native2 {
    -fx-background-color: transparent;
    -fx-background-image: url("../image/btn2.png");
    -fx-background-size: stretch;
    -fx-background-position: center;
}

.button-native2:hover {
    -fx-effect: innershadow(gaussian, orangered, 8, 0.5, 0, 0);
}

.button-native2:pressed {
    -fx-opacity: 0.5;
}


#windowPane {
    -fx-background-image: url("../image/mesmer.jpg");
    -fx-background-size: stretch;
}

#spButton {
    -fx-background-image: url("../image/sp_on.png");
    -fx-background-repeat: stretch;
    -fx-background-size: stretch;
}

/*****************************************************************************************/

/*Login*/
#loginPane {
    -fx-background-image: url("../image/bg2.png");
    -fx-background-size: stretch;
    -fx-background-position: center;
}

/*****************************************************************************************/
#menuPane {
    -fx-background-image: url("../image/bg1.png");
    -fx-background-size: stretch;
    -fx-background-position: center;
}

/*****************************************************************************************/
#boardPane {
    -fx-background-image: url("../image/bg2.png");
    -fx-background-size: stretch;
    -fx-background-position: center;
}

/*****************************************************************************************/

.button_X {
    -fx-background-color: transparent;
    -fx-background-size: stretch;
}

.button_X:hover {
    -fx-opacity: 0.2;
    -fx-background-image: url('/ir/soroushtabesh/xo4/client/gui/image/X.png');
}

.button_O {
    -fx-background-color: transparent;
    -fx-background-size: stretch;
}

.button_O:hover {
    -fx-opacity: 0.2;
    -fx-background-image: url('/ir/soroushtabesh/xo4/client/gui/image/O.png');
}

